.rhap_container {
  @apply bg-gray-800;
}

.rhap_time,
.rhap_main-controls-button,
.rhap_volume-button,
.rhap_repeat-button {
  @apply text-white;
}

.rhap_progress-filled,
.rhap_progress-indicator {
  @apply bg-white;
}

.rhap_progress-indicator {
  width: 13px;
  height: 13px;
  top: -4px;
  background: white;
}

.rhap_time {
  font-size: 14px;
}
